@charset "UTF-8";

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
}



.st {
    display: flex;
    align-items: center;
    color: #000;
    font-family: 'Roboto';
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
}


.cont {
    margin: 0 auto;
    max-width: 1440px;
}

.container-md-center {
    display: flex;
}

.email {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.accordion-button {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 30px !important;
}

.bb {
    padding-top: 20px;
}


@media (max-width: 1024px) {
    .col.hh {
        display: none !important;
    }
}



@media (max-width: 768px){
 .col-2 {
        padding-left: 0px !important;
 }

    .col {
        padding-left: 0px !important;
    } 

    .st {
        width: 99%;
    }

    
}
    
@media (min-width: 320px) and (max-width:738px){
    .col-2.gg {
        display: none !important;
    }
    .col-3.ak {
        display: none !important;
    }
    .footer {
        min-height: 200px !important;
    }
    .row {
        justify-content: center;
    }
}